#map {
  height: 100vh;//100% view height
  width: 100vw;// 100% view width
  z-index: 0;
}

#sidebar {
  color : white;
  background:
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10Px;
  width: 200px;
  overflow-y: scroll;
  z-index: 2000;
  float:left;
  cursor: pointer;

}
.sidebar li:hover {
    color: #DAF7A6;
}

.popupImage {
   width: 250px;
   height: 250px;
}

div.leaflet-popup-content-wrapper{
  /* wraps popup-content-wrapper around image */
  display: flex;
  flex: wrapper;
  flex-width: wrapper;
}
